#img{
    margin-top: 10px;
    height: 200px;
    width: 300px;
    object-fit: contain
}
#Card{
    text-align: center;
    background-color: blueviolet;
    color: white;
    border: 1px solid white;
}

.title_lateral{
    font-size: 15px;
    margin-bottom: 10px;
}